@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
body{
  background: skyblue;
  font-size: 10pt;
  font-family: 'Nunito', sans-serif;
}
div{
  background: white;
}
div h1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ab{
  display: flex;
  justify-content: center;
  background: deepskyblue;
}
.ab p{
  font-size: 10pt;
  display: flex;
  
  
}